<center><h1> Update List</h1></center>

<% if @invalid_title_error == true %>
  <font color="red"><b><%= @list.list_title_error %></b></font>
  <br>
  <br>
<% end %>

<% if @duplicate_title_error == true %>
  <font color="red"><b><%= @list.list_title_already_exists_error %></b></font>
  <br>
  <br>
<% end %>

<form  method="POST" action="/lists/<%= @list.id %>/update/confirmation">
  Title:&emsp;<input type="text" name="update_list_title" value="<%=@list.title %>">&emsp;&emsp;&emsp;
  <br>
  <br>
  <input type="submit" value="Update"></form>