<center><h1>Welcome, <%= @user.name %></h1></center>

Email:&emsp;<b><%= @user.email %></b>

<center>
<a href="/lists"> "All Lists" </a>
&emsp;&emsp;|&emsp;&emsp;
<a href="/users/<%= @user.id %>/update"> Update Account </a>
&emsp;&emsp;|&emsp;&emsp;
<a href="/users/<%= @user.id %>/delete"> Delete Account </a>
</center>
<br>
<br>
<% if session[:user_id] != nil %> 
  <div align="center">
  <form  method="POST" action="/logout">
  <input type="submit" value="Sign Out">
  </form>
  </div>
<% end %>


